.nav {
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 16px;

  a {
    display: block;
    color: #3c4858;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
  }

  a:visited {
    color: #3c4858;
  }

  a[class="mobileLogo"],
  a[class="mobileLogo active"] {
    display: none;
  }

  a[class="tab"]:hover {
    background-color: #eff2f7;
    color: #3c4858;
  }

  a[class="subTab"]:hover {
    background-color: #eff2f7;
    color: #3c4858;
  }

  a[class="tab active"] {
    background-color: #eff2f7;
    color: #3c4858;
  }

  a[class="subTab active"] {
    background-color: #eff2f7;
    color: #3c4858;
  }

  a[class="activeLogo"]:hover {
    background-color: transparent;
  }

  img[class="bstarLogo"] {
    height: 85px;
    width: 85px;
  }

  img[class="bstarLogoMobile"] {
    display: none;
  }

  div[class="dropdown"] {
    float: left;
    overflow: hidden;
  }

  div[class="dropdown"]:hover {
    background-color: #eff2f7;
  }

  div[class="dropdown"] p[class="dropbtn"] {
    border: none;
    outline: none;
    color: #3c4858;
    padding: 14px 16px;
    cursor: pointer;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  div[class="dropdown-content"] {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  div[class="dropdown"]:hover div[class="dropdown-content"] {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  div[class="dropdown-content"] a {
    float: none;
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
    color: #3c4858;
    margin: 0;
  }

  div[class="auth"] {
    display: none;
  }

  // ---------------------MEDIA QUERY FOR NAV BAR----------------------------
  @media screen and (max-width: 917px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;

    a,
    div[class="dropdown"] p[class="dropbtn"] {
      display: none;
    }

    a[class="mobileLogo"],
    a[class="mobileLogo active"] {
      display: block;
      margin: 0;
      padding: 10px;
    }

    button[class="icon"] {
      display: flex;
    }
  }
}

.topSection {
  nav[class="styles_nav__gT-ht showMobileTabs"] a:not(:nth-child(3)) {
    float: none;
    display: block;
    text-align: left;
    margin: 0;
  }

  nav[class="styles_nav__gT-ht showMobileTabs"]
    div[class="dropdown"]
    p[class="dropbtn"] {
    display: block;
  }

  nav[class="styles_nav__gT-ht showMobileTabs"] div[class="dropdown"] {
    float: none;
  }

  nav[class="styles_nav__gT-ht showMobileTabs"] div[class="dropdown-content"] {
    position: relative;
  }

  nav[class="styles_nav__gT-ht showMobileTabs"] {
    position: relative;
    display: block;
  }

  nav[class="styles_nav__gT-ht showMobileTabs"]
    div[class="dropdown"]
    p[class="dropbtn"] {
    display: block;
    width: 100%;
    text-align: left;
  }

  div[class="mobileNav"] {
    display: none;
  }

  @media screen and (max-width: 917px) {
    div[class="mobileNav"] {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    a img[class="bstarLogoMobile"] {
      height: 35px;
      width: 35px;
      margin: 10px 15px;
    }
    button[class="icon"] {
      background-color: transparent;
      text-decoration: none;
      // border: 2px solid #3c4858;
      border: none;
      color: #3c4858;
      border-radius: 4px;
      margin-right: 1rem;
    }

    button[class="icon"]:hover {
      background-color: #4856a4;
      // border: 2px solid #4856a4;
      border: none;
      color: white;
    }
  }
}
