// @font-face {
//   font-family: system;
//   font-style: normal;
//   font-weight: 300;
//   src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
//     local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
//     local("Roboto-Light"), local("DroidSans"), local("Tahoma");
// }
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap");

body {
  font-family: "Source Serif Pro", serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.25rem;
  margin: 1.5rem 0 0.5rem;
}
