@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap");

.main {
  font-family: "Source Serif Pro", serif;
}

.header {
  font-family: "Source Serif Pro", serif;

  p {
    color: blue;
    margin-top: 0;
  }
}
