// --------------------------Menu Styling----------------------
.menu {
  img[alt="white border"] {
    width: 65vw;
  }

  div[class="Brunch"] {
    width: 100vw;
    height: 30vw;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
  }

  div[class="Brunch"]:before {
    content: "";
    background-image: url("../images/pork-tocino.jpeg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
  }

  div[class="Dinner"] {
    width: 100vw;
    height: 30vw;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
  }

  div[class="Dinner"]:before {
    content: "";
    background-image: url("../images/kau-soi.jpeg");
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: top;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
  }

  div[class="title"] {
    position: relative; /* makes sure that this div is on top
    of the background image */
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    padding-top: 9vw;
  }

  div[class="title"] h1 {
    font-size: 5vw;
    color: white;
  }
}

// // ---------------------Item Card Styling------------------------
// .itemCard {
// }

// // ------------------Course Styling-------------------------
// .courseType {
// }
