// ==============================Menu Styling==============================
.menu {
  //-------------------------Menu Styling PHONE (S) ------------------------------
  @media screen and (max-width: 320px) and (min-width: 10px),
    (min-width: 320px) {
    div[class="coursesNav"] {
      background-color: #eff2f7;
      position: sticky;
      top: 0px;
      z-index: 1;
    }

    div[class="coursesNav--scroll"] {
      white-space: nowrap;
      overflow-x: scroll;
      color: #243065;
      height: 65px;
      display: flex;
      align-items: center;
    }

    div[class="coursesNav--scroll"] a {
      padding: 2px 5px;
      text-decoration: none;
      color: #243065;
      border-radius: 3px;
      margin: 0 10px;
    }
    div[class="coursesNav"] a:visited {
      color: #243065;
    }

    div[class="courses"] {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: 10rem;
    }

    a[class="courses"]:active {
      background-color: #a3b3d0;
      color: #3c4858;
    }

    a[class="courses"]:hover {
      background-color: #a3b3d0;
    }
  }

  //-------------------------Menu Styling TABLET-----------------------------------
  @media screen and (min-width: 768px) {
    div[class="coursesNav--scroll"] {
      justify-content: space-between;
      height: 55px;
    }
  }
  //-------------------------Menu Styling LAPTOP-----------------------------------
  @media screen and (min-width: 1024px) {
    div[class="coursesNav--scroll"] {
      justify-content: center;
      height: 62px;
    }
    div[class="coursesNav--scroll"] a {
      font-size: 18px;
    }
  }
}
// ==============================Filter Section==============================
.filterSection {
  //-------------------------Filter Section PHONE (S) ------------------------------
  @media screen and (max-width: 320px) and (min-width: 10px),
    (min-width: 320px) {
    margin-bottom: 2rem;
    overflow-x: scroll;
    padding-left: 20px;

    h3 {
      padding: 10px 25px 5px;
      font-size: 14px;
    }

    div[class="options"] {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      flex-wrap: wrap;
    }

    div[class="options"] button {
      background-color: transparent;
      border: 0.15rem solid rgb(148, 148, 148);
      color: rgb(148, 148, 148);
      border-radius: 5px;
      margin: 5px 0 5px 25px;
      border-radius: 60rem;
      height: 25px;
      font-size: 10px;
      align-items: center;
    }

    div[class="options"] button[class="option_elem--selected"] {
      color: white;
      border: none;
      background-color: #4856a4;
      display: flex;
      align-items: center;
    }

    button[class="option_elem--notselected"] span {
      padding: 0 1.8px;
    }

    img {
      padding: 0 4px 0 2px;
      height: 11px;
      filter: invert(100%) sepia(0%) saturate(3087%) hue-rotate(318deg)
        brightness(115%) contrast(113%);
    }
  }
  //------------------------- Filter Section LAPTOP-----------------------------------
  @media screen and (min-width: 1024px) {
    margin-bottom: 2rem;
    overflow-x: scroll;
    padding-left: 45px;

    h3 {
      padding: 20px 25px 5px;
      font-size: 20px;
    }

    div[class="options"] button {
      border-radius: 5px;
      margin: 5px 0 5px 25px;
      border-radius: 25px;
      height: 25px;
      font-size: 13px;
      align-items: center;
    }

    div[class="options"] button[class="option_elem--selected"] {
      color: white;
      border: none;
      background-color: #4856a4;
      display: flex;
      align-items: center;
    }

    button[class="option_elem--notselected"] span {
      padding: 0 0.9px;
    }

    img {
      padding: 0 4px 0 2px;
      height: 11px;
      filter: invert(100%) sepia(0%) saturate(3087%) hue-rotate(318deg)
        brightness(115%) contrast(113%);
    }
  }
}

// ==============================Course Styling=============================
.courseType {
  //-------------------------Course Styling PHONE (S) ------------------------------
  @media screen and (max-width: 320px) and (min-width: 10px),
    (min-width: 320px) {
    h2 {
      padding-top: 5rem;
      text-align: center;
    }

    div[class="food-section"] {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  //-------------------------Course Styling TABLET-----------------------------------
  @media screen and (min-width: 768px) {
    padding: 0 80px;
    h2 {
      padding-top: 5rem;
      text-align: center;
    }

    div[class="food-section"] {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      flex-wrap: wrap;
      // padding: 0 0 0 40px;
      margin: 0 -5px;
      justify-content: space-between;
    }
  }
  //-------------------------Course Styling LAPTOP-----------------------------------
  @media screen and (min-width: 1024px) {
    padding: 0 160px;
  }
  //-------------------------Course Styling LARGE LAPTOP------------------------------
  @media screen and (min-width: 1440px) {
    padding: 0 200px;
  }
}

// // ===============================Item Card Styling===============================
.itemCard {
  //-------------------------Item Card Styling PHONE (S) ------------------------------
  @media screen and (max-width: 320px) and (min-width: 10px),
    (min-width: 320px) {
    width: 200px;

    h3[class="itemCardTitle__title"] {
      font-size: 12px;
      margin-bottom: 6px;
    }

    p[class="itemCardTitle__price"] {
      font-size: 11px;
      margin-bottom: 6px;
    }

    img[class="allergyIcon"] {
      height: 20px;
      padding: 0 5px;
    }
    img[class="allergyIcon allergyIcon--small"] {
      height: 16px;
      padding: 0 5px;
    }
    div[class="itemCardTitle"] {
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
    }
    div[class="modifications"] {
      display: flex;
      flex-direction: row;
      color: brown;
    }
    p[class="modifications__elem"] {
      padding-right: 10px;
      font-size: 11px;
      margin: 0;
    }
    p[class="description"] {
      font-size: 11px;
      margin-top: 6px;
    }
    div[class="icons"] {
      display: flex;
      flex-direction: row;
    }
  }
  //-------------------------Item Card Styling PHONE (L) ------------------------------
  @media screen and (min-width: 425px) {
    width: 280px;

    h3[class="itemCardTitle__title"] {
      font-size: 15px;
    }

    p[class="itemCardTitle__price"] {
      font-size: 13px;
    }

    img[class="allergyIcon"] {
      height: 22px;
      padding: 0 6px;
    }
    img[class="allergyIcon allergyIcon--small"] {
      height: 18px;
      padding: 0 6px;
    }
    div[class="itemCardTitle"] {
      padding-top: 16px;
    }

    p[class="modifications__elem"] {
      padding-right: 10px;
      font-size: 13px;
      margin: 0;
    }
    p[class="description"] {
      font-size: 13px;
      margin-top: 5px;
    }
  }
  //-------------------------Item Card Styling TABLET-----------------------------------
  @media screen and (min-width: 768px) {
    width: 255px;
    margin: 0 20px;

    h3[class="itemCardTitle__title"] {
      font-size: 14px;
    }

    p[class="itemCardTitle__price"] {
      font-size: 12px;
    }

    img[class="allergyIcon"] {
      height: 20px;
      padding: 0 6px;
    }
    img[class="allergyIcon allergyIcon--small"] {
      height: 16px;
      padding: 0 6px;
    }
    div[class="itemCardTitle"] {
      padding-top: 16px;
    }

    p[class="modifications__elem"] {
      padding-right: 10px;
      font-size: 12px;
      margin: 0;
    }
    p[class="description"] {
      font-size: 12px;
      margin-top: 4px;
    }
  }
  //-------------------------Item Card Styling LAPTOP-----------------------------------
  @media screen and (min-width: 1024px) {
    width: 290px;
    h3[class="itemCardTitle__title"] {
      font-size: 15px;
    }

    p[class="itemCardTitle__price"] {
      font-size: 13px;
    }

    img[class="allergyIcon"] {
      height: 20px;
      padding: 0 6px;
    }
    img[class="allergyIcon allergyIcon--small"] {
      height: 16px;
      padding: 0 6px;
    }
    div[class="itemCardTitle"] {
      padding-top: 16px;
    }

    p[class="modifications__elem"] {
      padding-right: 10px;
      font-size: 13px;
      margin: 0;
    }
    p[class="description"] {
      font-size: 13px;
      margin-top: 4px;
    }
  }
}
